/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: Microsoft JhengHei;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */


section article {
  width: 50%;
  height: 200px;
  float: left;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 5px;
}

section p {
  font-family: Microsoft JhengHei;
  font-size: 25px; 
  color: #413f3f;
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

canvas {
  margin-top: 60px;
  margin-left: 40px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}



.ml1 { color: #413f3f;font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; 
  font-weight: 900;
  font-size: 1.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #413f3f;
  transform-origin: 0 0;
}

.most_fre {
  font-size: 20px;
  display: inline-block;
  width: 33%;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }